/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.page-gt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.page-gt img.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.page-info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-info p {
    margin-bottom: 15px;
}

.page-info a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.page-info a:hover {
    text-decoration: underline;
}

.page-info img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.center-image {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
footer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.info-right iframe {
    width: 100%;
    height: 100vh; /* Chiều cao sẽ chiếm toàn bộ chiều cao của trình duyệt */
    border: 0;
}