*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-height: 100vh;
	background: #53556d;
}
.container{
	height: 350px;
	width: 350px;
	background: #4ed4c6;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px gray;
	transition: 3s all;
	transition: transform 2s cubic-bezier(0.33, 1, 0.68, 1); /* Giảm từ 4s xuống 2s */
}
.container div{
	height: 50%;
	width: 200px;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	transform: translateX(-50%);
	transform-origin: bottom;
	position: absolute;
	left: 21%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: monospace;
	font-weight: 1000;
	color:#121011; 
	 writing-mode: vertical-rl;
}
.container .one{
	background: #3c9452;
	left: 50%;
}
.container .two{
	background: #c0c478;
	transform: rotate(60deg);
}
.container .three{
	background: #0a91b6;
	transform: rotate(120deg);
}
.container .four{
	background: #cd65a3;
	transform: rotate(180deg);
}
.container .five{
	background: #d6b50e;
	transform: rotate(240deg);
}
.container .six{
	background: #4ed4c6;
	transform: rotate(300deg);
}
.mid{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	position: absolute;
	background: #d86969;
}
#spin{
	height: 60px;
	width: 200px;
	background: #4ed4c6;
	position: absolute;
	margin-top: 600px;
	font-size: 30px;
	color: white;
	font-weight: 1000px;
    border-radius: 5px;
	letter-spacing: 4px;
	border: 1px solid white;
	cursor: pointer;
	box-shadow: 0 5px 10px gray;
	transition: 0.2s all;
}
#spin:hover{
	box-shadow: none;
}
.stoper{
	height: 50px;
	width: 40px;
	background: #ffd600;
	position: absolute;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	margin-top: -350px;
}
.vongquayne {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Đặt chiều rộng cho div */
    position: absolute; /* Thay đổi sang absolute để không ảnh hưởng đến các phần tử khác */
    top: 20px; /* Điều chỉnh khoảng cách từ phía trên */
    left: 20px; /* Điều chỉnh khoảng cách từ phía trái */
    z-index: 10; /* Đặt chỉ số z cao hơn để phần tử không bị che khuất */
}


input {
    width: 100%; /* Để input rộng đầy đủ */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
